<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css0115.dao.RoleMapper">
    <resultMap type="Role" id="roleResultMap">
        <id property="id" column="rid"/>
        <result property="roleName" column="roleName"/>
        <collection property="users" ofType="User">
            <id property="id" column="id"/>
            <result property="userCode" column="userCode"/>
            <result property="userName" column="userName"/>
            <result property="userRole" column="userRole"/>
        </collection>
    </resultMap>

    <select id="getRoleById" parameterType="Integer" resultMap="roleResultMap">
        SELECT r.id rid, r.roleName , r.roleCode ,u.*
        FROM tb_role r,tb_user u
        WHERE r.id=u.userRole
        <if test="id>0">AND r.id = #{id}</if>
    </select>
</mapper>
