page {
    background-color: #f2f2f2;
}

.container {

    .top {
        height: 360rpx;
        background-color: #0156c0;
        border-bottom-left-radius: 40rpx;
        padding: 100rpx 30rpx 30rpx 30rpx;
        box-sizing: border-box;

        .inner {
            display: flex;
            align-items: center;

            image {
                width: 110rpx;
                height: 110rpx;
                border-radius: 50%; // 圆形头像
                margin-right: 30rpx; // 头像和文字之间的间距
            }

            .right {

                display: flex;
                flex-direction: column;

                text {
                    color: #fff;
                    font-size: 30rpx;

                    &:nth-of-type(1) {
                        font-weight: bold;
                        font-size: 40rpx;
                        margin-bottom: 10rpx;
                    }

                }
            }
        }
    }
}