<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css0115.dao.ProductMapper">
    <resultMap type="ProductCategory" id="productlist">
        <id property="id" column="cid"/>
        <result property="name" column="cname"/>
        <collection property="products" ofType="Product">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="stock" column="stock"/>
        </collection>
    </resultMap>

    <select id="getProduct" resultMap="productlist">
        SELECT c.id cid, c.name cname,p.*
        FROM tb_product_category c,tb_product p
        WHERE c.id=p.categoryLevel1Id
        <if test="id>0"> AND c.id = #{id} </if>
        ORDER BY c.id
    </select>
</mapper>
